body , html{
    background-color: bisque;
    border: 4px solid black;
    box-sizing: border-box;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    text-align: center;
    margin: 40px;
}
a{
    text-decoration: none;
    margin: 30px;
    font-size: 20px;

}
ul{
    text-align: center;
}
hr{
    border: 2px solid black;
    width: 50%;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 20px;
}
img{    
    width: 253px;
    height: 170px;
}
p{

    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;

}

